.about {
    margin: 0 auto;
    padding: 80px 10px 0;
    max-width: 470px;

    .about_img {
        display: block;
        width: 168px;
        height: 168px;
        margin: 120px auto 80px;
        background: var(--hero_img) no-repeat top center;
        background-size: cover;
        
        box-shadow: 
            9px 9px 18px var(--neu-one),
            -9px -9px 18px var(--neu-two),
            inset 1px 1px 1px var(--neu-hl),
            inset -1px -1px 1px var(--neu-sd);
        border-radius: 150px;
    }

    h2 {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 26px;
        color: var(--secondary);

    }

    p {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 16px;
        line-height: 187%;        
        margin-bottom: 60px;
        color: var(--primary);

        &:nth-child(5) {
            margin-bottom: 80px;
        }
    }

    h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 18px;
        color: var(--secondary);
    }

    .logo_article {
        background: var(--icon_nav) no-repeat center center;
        background-size: contain;
        margin: 0 auto;
        width: 15.08px;
        height: 14px;
    }   
}

.collection {
    span {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 768px) {
    .about {
        padding: 99px 40px 0;
        max-width: 630px;

        .about_img {
            width: 200px;
            height: 200px;
        }

        h2 {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 36px;
        }

        p {
            font-size: 18px;
            line-height: 167%;
            margin-bottom: 80px;

            &:nth-child(5) {
                margin-bottom: 100px;
            }
        }

        h3 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 24px;
        }

        .logo_article {
            width: 17.23px;
            height: 16px;
        }
    }

    .collection {
        span {
            margin-top: 100px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .about {
        .about_img {
            margin: 160px auto 80px;
            width: 260px;
            height: 260px;
        }

        p {
            &:nth-child(5) {
                margin-bottom: 128px;
            }
        }
    }

    .collection {
        span {
            margin-top: 128px;
        }
    }
}