.intro {
    margin: 0 -10px;

    .hero_img {
        margin: 120px auto 82.29px;
        width: 100%;
        height: calc(267.71px + 20px);
        background: var(--hero_img) no-repeat center center;
        background-size: contain;
    }

    .hero_text { 
        margin-bottom: 140px;

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            letter-spacing: 0.04em;
            color: var(--primary);
        }

        span {
            display: block;
            width: 90px;
            height: 6px;
            border-radius: 3px;
            background-color: var(--secondary);
            margin: 34px auto;
        }

        .hero_social {
            text-align: center;
            margin-top: 50px;
    
            a {
                color: var(--secondary);
                text-decoration: none;
                display: inline-block;
                width: 45px;
                height: 45px;
                margin: 0 20px;
    
                background: var(--bg);
                box-shadow: 5px 5px 10px var(--neu-one), -5px -5px 10px var(--neu-two);
                border-radius: 23px;
    
                i {
                    font-size: 22px;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 45px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .intro {
        margin: 0 85px;

        .hero_img {
            margin: 126px auto 126.06px;
            height: calc(407.94px + 58px);            
        }

        .hero_text {
            margin-bottom: 240px;
    
            p {
                font-size: 36px;
                line-height: 44px;
            }
    
            span {
                margin: 42px auto;
            }

            .hero_social {
                margin-top: 42px;
            }
        }
    }
}

@media only screen and (min-width: 1660px) {
    .intro {
        margin: 0;
        display: grid;
        grid-template-areas: 'hero_text hero_img';
        
        .hero_img {
            grid-area: hero_img;
            margin: 127.85px auto auto 100px;
            width: calc(580px + 96px);
            height: 687px;
            transform: scaleX(-1);
        }

        .hero_text {
            grid-area: hero_text;
            margin: 248px 0 267px;

            p {
                margin-left: 120px;
                text-align: left;
                font-size: 48px;
                line-height: 59px;
            }

            span {
                margin: 41px 0 41px 120px;
            }

            .hero_social {
                text-align: left;
                margin-left: 100px;
                margin-top: 57px;

                a {
                    i {
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }

    }
}

.work {

    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: var(--secondary);
        margin-bottom: 90px;
        text-transform: uppercase;
    }

    .work_item {
        margin-bottom: 150px;
        a {
            .work_img {
                width: auto;
                height: 260px;
                background: url(../asset/work_img_02.jpg) no-repeat center center;
                background-size: cover;

                box-shadow: 9px 9px 18px var(--neu-one), -9px -9px 18px var(--neu-two);
                border-radius: 10px;
            }           
        }
        
        span {
            display: block;
            width: calc(100% - 80px);
            height: 2px;
            margin: 30px 40px 25px 40px;
            background-color: var(--accent);
            border-radius: 1px;
        }
        
        .work_text {

            h1 {
                margin: 0 0 24px 10px;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: var(--primary);
            }
    
            p {
                margin: 0 10px 34px 10px;
                font-weight: 300;
                font-size: 14px;
                line-height: 19px;
                color: var(--primary);
                max-width: 520px;
    
                i {
                    margin-right: 14px;
                    font-size: 7px;
                    line-height: 14px;
                    vertical-align: middle;
                }
            }
    
            a.button {
                display: inline-block;
                padding: 10px 32px;
                margin-left: 10px;
                text-decoration: none;
                color: var(--primary);
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
    
                box-shadow: 5px 5px 10px var(--neu-one), -5px -5px 10px var(--neu-two);
                border-radius: 5px;
            }
        }

        &:nth-child(3) a .work_img {
            background: url(../asset/work_img_01.jpg) no-repeat center center;
            background-size: cover;
        }

        &:nth-child(4) a .work_img {
            background: url(../asset/work_img_03.jpg) no-repeat center center;
            background-size: cover;
        }

        &:nth-child(5) a .work_img {
            background: url(../asset/work_img_04.jpg) no-repeat center center;
            background-size: cover;
        }
        
    }
}

@media only screen and (min-width: 768px) {
    .work {
        .work_item {
            display: grid;
            grid-template-columns: 57% auto auto;

            a {
                .work_img {
                    width: auto;
                    height: 271px;
                }           
            }
            
            span {
                width: 1px;
                height: 271px;
                margin: 0 30px 59px 30px;
            }

            &:nth-child(odd) {
                grid-template-columns: auto auto 57%;
                grid-template-areas: 'text span img';

                a {
                    grid-area: img;
                }

                span {
                    grid-area: span;
                }

                .work_text {
                    grid-area: text;
                }
            }           
        }
    }
}

@media only screen and (min-width: 1660px) {
    .work {
        h2 {
            margin-bottom: 110px;
        }

        .work_item {
            grid-template-columns: 853px 91px auto;

            a {
                .work_img {
                    width: auto;
                    height: 410px;
                    margin-left: 45px;
                }           
            }

            span {
                width: 1px;
                height: 410px;
                margin: 0 45px 0 45px;
            }

            .work_text {

                h1 {
                    margin: 51px 0 31px 35px;
                    font-size: 33px;
                    line-height: 40px;
                }

                p {
                    margin: 0 auto 40px 35px;
                    font-size: 16px;
                    line-height: 20px;
                    max-width: 420px;
                }

                a.button {
                    margin-left: 35px;
                }
            }

            &:nth-child(odd) {
                grid-template-columns: auto 91px 853px;

                a {
                    grid-area: img;
                    
                    .work_img {
                        width: auto;
                        height: 410px;
                        margin-left: 0;
                        margin-right: 45px;
                    }
                }

                span {
                    grid-area: span;
                }

                .work_text {
                    grid-area: text;
                    margin-left: 85px;
                }
            }
        }
    }
}