html[data-theme='dark'] {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  --bg: #313A40;
  --primary: #F2F2F2;
  --secondary: #D9CDBF;
  --nav-color: #D9CDBF;
  --accent: #1A2226;
  --neu-one: #2A3136;
  --neu-two: #38434A;
  --logo_nav: url(../asset/logo_nav_dark.png);
  --icon_nav: url(../asset/icon_nav_dark.png);
  --hero_img: url(../asset/peep_dark_2.png);
}

html[data-theme='light'] {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  --bg: #F2F2F2;
  --primary: #313A40;
  --secondary: #1A2226;
  --nav-color: #313A40;
  --accent: #C4C4C4;
  --neu-one: #cecece;
  --neu-two: #ffffff;
  --logo_nav: url(../asset/logo_nav_light.png);
  --icon_nav: url(../asset/icon_nav_light.png);
  --hero_img: url(../asset/peep_light.png);
}

body {
  background-color: var(--bg);
}

body .container {
  margin: 0 20px;
  width: calc(100% - 40px);
}

@media only screen and (min-width: 768px) {
  body .container {
    margin: 0 30px;
    width: calc(100% - 60px);
  }
}

@media only screen and (min-width: 1660px) {
  body .container {
    max-width: 1660px;
    margin: 0 auto;
  }
}

nav {
  margin-top: 20px;
  height: 60px;
  max-width: 1660px;
  background-color: var(--bg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -webkit-box-shadow: 10px 10px 20px var(--neu-one), -10px -10px 20px var(--neu-two);
          box-shadow: 10px 10px 20px var(--neu-one), -10px -10px 20px var(--neu-two);
  border-radius: 40px;
}

nav .logo {
  width: 100.61px;
  height: 20px;
  margin: 20px 0 0 30px;
  background: var(--logo_nav) no-repeat center center;
  background-size: contain;
  display: none;
}

nav .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

nav .icon {
  width: 22px;
  height: 20px;
  margin: 20px 0 0 30px;
  background: var(--icon_nav) no-repeat center center;
  background-size: contain;
}

nav .icon a {
  display: block;
  width: 100%;
  height: 100%;
}

nav .menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: right;
      justify-self: right;
  margin: 20px 30px 0 0;
}

nav .menu ul {
  display: inline-block;
  vertical-align: middle;
}

nav .menu ul li {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-right: 17px;
  color: var(--nav-color);
}

nav .menu ul li a {
  text-decoration: none;
  color: inherit;
}

nav .menu ul li:nth-child(1) {
  display: none;
}

nav .menu ul li:nth-child(3) {
  display: none;
}

nav .menu ul li i {
  font-size: 20px;
  line-height: 20px;
  margin-right: 14px;
  display: none;
}

nav .menu span {
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: var(--accent);
  border-radius: 1px;
}

nav .menu i.bar {
  display: inline-block;
  margin-left: 30px;
  color: var(--nav-color);
  font-size: 20px;
  display: none;
}

nav .menu li {
  display: none;
}

nav .menu input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

nav .menu label {
  float: right;
  cursor: pointer;
  text-indent: -9999px;
  width: 31px;
  height: 18px;
  background: #4395FF;
  display: none;
  border-radius: 9px;
  position: relative;
  margin-left: 18px;
  display: block;
}

nav .menu label:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .menu input:checked + label {
  background: var(--accent);
}

nav .menu input:checked + label:after {
  right: calc(100% - 30px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media only screen and (min-width: 768px) {
  nav {
    margin-top: 27px;
    height: 72px;
    -webkit-box-shadow: 14px 14px 28px var(--neu-one), -14px -14px 28px var(--neu-two);
            box-shadow: 14px 14px 28px var(--neu-one), -14px -14px 28px var(--neu-two);
  }
  nav .logo {
    width: 135.82px;
    height: 27px;
    margin: 22px 0 0 65px;
    display: block;
  }
  nav .icon {
    display: none;
  }
  nav .menu {
    margin: 23px 40px 0 0;
  }
  nav .menu ul li {
    margin-right: 30px;
  }
  nav .menu i.bar {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1660px) {
  nav {
    -webkit-box-shadow: 16px 16px 32px var(--neu-one), -16px -16px 32px var(--neu-two);
            box-shadow: 16px 16px 32px var(--neu-one), -16px -16px 32px var(--neu-two);
  }
  nav .logo {
    margin: 22px 0 0 65px;
  }
  nav .icon {
    display: block;
    width: 30.35px;
    height: 27px;
    margin: 22px 0 0 0;
  }
  nav .menu {
    margin: 28px 40px 0 0;
  }
  nav .menu ul li:nth-child(1) {
    display: inline-block;
  }
  nav .menu ul li:nth-child(3) {
    display: inline-block;
  }
  nav .menu ul li i {
    display: inline-block;
  }
  nav .menu i.bar {
    display: none;
  }
  nav .menu li {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--nav-color);
    margin-left: 30px;
  }
  nav .menu input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  nav .menu label {
    display: block;
  }
}

.collection h2 {
  margin: 0 0 74px 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--secondary);
}

.collection .collection_item {
  margin-left: 40px;
}

.collection .collection_item a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary);
  margin-bottom: 30px;
}

.collection span {
  margin: 132px 0 62px 0;
  display: block;
  width: 100%;
  height: 8px;
  -webkit-box-shadow: inset 2px 2px 4px var(--neu-one), inset -2px -2px 4px var(--neu-two);
          box-shadow: inset 2px 2px 4px var(--neu-one), inset -2px -2px 4px var(--neu-two);
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .collection h2 {
    margin: 0 0 74px 30px;
  }
  .collection .collection_item {
    margin-left: 75px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .collection .collection_item a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary);
    margin-bottom: 30px;
  }
  .collection span {
    margin: 82px 0 62px 0;
  }
}

@media only screen and (min-width: 1660px) {
  .collection h2 {
    margin: 0 0 74px 55px;
  }
  .collection .collection_item {
    margin: 0 95px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .collection span {
    margin: 136px 0 62px 0;
  }
}

footer .footer_right {
  margin: 0 40px 84px 40px;
}

footer .footer_right h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary);
  margin-bottom: 65px;
  vertical-align: baseline;
}

footer .footer_right h1 .footer_logo {
  display: inline-block;
  width: 30.35px;
  height: 27px;
  background: var(--icon_nav) no-repeat center center;
  background-size: contain;
  margin-right: 18.65px;
}

footer .footer_right a {
  display: block;
  margin-bottom: 36px;
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

footer .footer_right a i {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: var(--primary);
  width: 45px;
}

footer .footer_left {
  margin: 0 40px 114px 40px;
}

footer .footer_left h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary);
  margin-bottom: 65px;
}

footer .footer_left a {
  display: block;
  margin-bottom: 36px;
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

footer .footer_left a i {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: var(--primary);
  width: 45px;
}

@media only screen and (min-width: 768px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .footer_left {
    margin: 6px 40px 134px 40px;
  }
}

@media only screen and (min-width: 1660px) {
  footer .footer_right {
    margin: 0 40px 84px 65px;
  }
  footer .footer_left {
    margin: 6px 65px 134px 40px;
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=main.css.map */