

html[data-theme='dark'] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;

    --bg: #313A40;
    --primary: #F2F2F2;
    --secondary: #D9CDBF;
    --nav-color: #D9CDBF;
    --accent: #1A2226;
    --neu-one: #2A3136;
    --neu-two: #38434A;
    --neu-hl: #414e56;
    --neu-sd: #212629;
    --logo_nav: url(../asset/logo_nav_dark.png);
    --icon_nav: url(../asset/icon_nav_dark.png);
    --hero_img: url(../asset/peep_dark_2.png);
}

html[data-theme='light'] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;

    --bg: #F2F2F2;
    --primary: #313A40;
    --secondary: #1A2226;
    --nav-color: #313A40;
    --accent: #C4C4C4;
    --neu-one: #cecece;
    --neu-two: #fcfcfc;
    --neu-hl: #ffffff;
    --neu-sd: #c3c3c3;
    --logo_nav: url(../asset/logo_nav_light.png);
    --icon_nav: url(../asset/icon_nav_light.png);
    --hero_img: url(../asset/peep_light.png);
}

body {
    background-color: var(--bg);

    .container {
        margin: 0 20px;
        width: calc(100% - 40px);
    }

    @media only screen and (min-width: 768px) {
        .container {
            margin: 0 30px;
            width: calc(100% - 60px);
        }
    }

    @media only screen and (min-width: 1660px) {
        .container {
            max-width: 1660px;
            margin: 0 auto;
        }
    }
}

nav {
    margin-top: 20px;
    height: 60px;
    max-width: 1660px;
    background-color: var(--bg);

    display: grid;
    grid-template-columns: 1fr auto 1fr;

    box-shadow: 
    10px 10px 20px var(--neu-one), 
    -10px -10px 20px var(--neu-two),
    inset 1px 1px 2px var(--neu-hl),
    inset -1px -1px 2px var(--neu-sd);
    border-radius: 40px;

    .logo {
        width: 100.61px;
        height: 20px;
        margin: 20px 0 0 30px;
        background: var(--logo_nav) no-repeat center center;
        background-size: contain;
        display: none;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .icon {
        width: 22px;
        height: 20px;
        margin:20px 0 0 30px;
        background: var(--icon_nav) no-repeat center center;
        background-size: contain;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .menu {
        grid-column: 3/4;
        justify-self: right;
        margin: 20px 30px 0 0;

        ul {
            display: inline-block;
            vertical-align: middle;

            li {
                display: inline-block;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                margin-right: 17px;
                color: var(--nav-color);

                a {
                    text-decoration: none;
                    color: inherit;
                }

                &:nth-child(1) {
                    display:none;
                }

                &:nth-child(3) {
                    display:none;
                }

                i {
                    font-size: 20px;
                    line-height: 20px;
                    margin-right: 14px;
                    display: none;
                }
            }
        }

        span {
            display: inline-block;
            width: 2px;
            height: 16px;
            background-color: var(--accent);
            border-radius: 1px;
        }

        i.bar {
            display: inline-block;
            margin-left: 30px;
            color: var(--nav-color); 
            font-size: 20px;
            display: none;
        }

        li {
           display: none;
        }

        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
        }
    
        label {
            float: right;
            cursor: pointer;
            text-indent: -9999px;
            width: 31px;
            height: 18px;
            background: #4395FF;
            display: none;
            border-radius: 9px;
            position: relative;
            margin-left: 18px;
            display: block;
        }
    
        label:after {
            content: '';
            position: absolute;
            top: 2px;
            right: 2px;
            width: 14px;
            height: 14px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
        }
    
        input:checked + label {
            background: var(--accent);
        }
    
        input:checked + label:after {
            right: calc(100% - 30px);
            transform: translateX(-100%);
        }
    }    
}

@media only screen and (min-width: 768px) {
    nav {
        margin-top: 27px;
        height: 72px;

        box-shadow: 
        12px 12px 24px var(--neu-one), 
        -12px -12px 24px var(--neu-two),
        inset 1px 1px 2px var(--neu-hl),
        inset -1px -1px 2px var(--neu-sd);

        .logo {
            width: 135.82px;
            height: 27px;
            margin: 22px 0 0 65px;
            display: block;
        }
    
        .icon {
            display: none;
        }

        .menu {
            margin: 23px 40px 0 0;
    
            ul {
                li {
                    margin-right: 30px;
                }
            }
    
            i.bar { 
                font-size: 26px;
            } 
        }
    }
}

@media only screen and (min-width: 1660px) {
    nav {

        .logo {
            margin: 22px 0 0 65px;
        }
    
        .icon {
            display: block;
            width: 30.35px;
            height: 27px;
            margin: 22px 0 0 0;
        }

        .menu {
            margin: 28px 40px 0 0;

            ul {
                li {
                    
                    &:nth-child(1) {
                        display: inline-block;
                    }
    
                    &:nth-child(3) {
                        display: inline-block;
                    }

                    i {
                        display: inline-block;
                    }
                }
            }
    
            i.bar { 
                display: none;
            }

           li {
               display: inline-block;
               font-weight: bold;
               font-size: 14px;
               line-height: 17px;
               color: var(--nav-color);
               margin-left: 30px;
           }

            input[type=checkbox]{
                height: 0;
                width: 0;
                visibility: hidden;
            }
        
            label {
                display: block;
            }
        }
    }
}

.collection {

    h2 {
        margin: 0 0 74px 10px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: var(--secondary);
    }

    .collection_item {
        margin-left: 40px;

        a {
            display: block;
            text-decoration: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: var(--primary);
            margin-bottom: 30px;
        }
    }

    span {
        margin: 132px 0 62px 0;
        display: block;
        width: 100%;
        height: 8px;
        box-shadow: 
        inset 2px 2px 4px var(--neu-one), 
        inset -2px -2px 4px var(--neu-two),
        1px 1px 1px var(--neu-hl),
        -1px -1px 1px var(--neu-sd);
        border-radius: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .collection {

        h2 {
            margin: 0 0 74px 30px;
        }

        .collection_item {
            margin-left: 75px;
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            a {
                display: block;
                text-decoration: none;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: var(--primary);
                margin-bottom: 30px;
            }
        }
    
        span {
            margin: 82px 0 62px 0;
        }
    }
}

@media only screen and (min-width: 1660px) {
    .collection {

        h2 {
            margin: 0 0 74px 55px;
        }

        .collection_item {
            margin: 0 95px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        span {
            margin: 136px 0 62px 0;
        }
    }
}

footer {
    .footer_right {
        margin: 0 40px 84px 40px;
        h1 {
            .footer_logo {
                display: inline-block;
                width: 30.35px;
                height: 27px;
                background: var(--icon_nav) no-repeat center center;
                background-size: contain;
                margin-right: 18.65px;
            }

            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: var(--primary);
            margin-bottom: 65px;
            vertical-align: baseline; 
        }

        a {
            display: block;
            margin-bottom: 36px;
            text-decoration: none;
            color: var(--primary);
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            
            i {
                font-size: 24px;
                line-height: 24px;
                text-align: left;
                color: var(--primary);
                width: 45px;
            }
        }
    }

    .footer_left {
        margin: 0 40px 114px 40px;
        h1 {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: var(--primary);
            margin-bottom: 65px;
        }

        a {
            display: block;
            margin-bottom: 36px;
            text-decoration: none;
            color: var(--primary);
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            
            i {
                font-size: 24px;
                line-height: 24px;
                text-align: left;
                color: var(--primary);
                width: 45px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .footer_left {
            margin: 6px 40px 134px 40px;
        }
    }
}

@media only screen and (min-width: 1660px) {
    footer {
        .footer_right {
            margin: 0 40px 84px 65px;
        }

        .footer_left {
            margin: 6px 65px 134px 40px;
        }
    }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 350ms !important;
  transition-delay: 0 !important;
}


