body {
  background-color: #343535;
}

#profile{
  display: block;
  margin: 30vh auto 0;
}

.maintain {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: monospace;
  font-weight: 800;
  font-size: 64px;
}

#para {
  margin-top: 10px;
  font-size: 16px;
}
